.container {
    display: flex;
    background-color: #adb5bd;
    border-radius: 5px;
    padding: .8em;
    align-items: center;
    margin-bottom: .4em;
}

.label-avatar{
    width: 250px;
    height: 250px;
    background-image: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    color: #dee2e6;
    
}

.label-avatar input{
    display: none;
}

.label-avatar span{
    z-index: 99; 
    position: absolute;
    opacity: .7;
    transition: all .5s;
}

.label-avatar span:hover{
    opacity: 1;
    transition: scale(1.4);
}

.form-profile img{
    margin-bottom: 1em;
    border-radius: 50%;
    object-fit: cover;
}

.form-profile label {
    margin-bottom: .5em;
    font-size: 1.4em;
}

.form-profile input, textarea, selct{
    margin-bottom: 1em;
    padding: .7em;
    border: 0;
    border-radius: 5px;
    max-width: 600px;
}

.form-profile input{
    background-color: #dee2e6;
}

.form-profile input:disabled {
    cursor: not-allowed;
}

.form-profile button{
    max-width: 250px;
}

.form-profile button:hover{
    background-color: #121212;
}

.logout-button{
    padding: 5px 20px;
    background-color: #212529;
    border: 1px solid #212529;
    border-radius: 5px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    color: #FA2622;
}

.logout-button:hover{
    background-color: #121212;
    color: #FF0500;
}