.container-center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #495057;
}

.login{
    background-color: #adb5bd;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-area{
    display: flex;
    justify-content: center;
    background-color: #212529;
    width: 100%;
}

.login-area img{
    padding: 20px;
    width: 170px;
    height: 130px;
}

form{
    margin-top: 1.5em;
    width: 90%;
    display: flex;
    flex-direction: column;
}

form h1{
    text-align: center;
    margin-bottom: .5em;
    color: #212529;
}

.login input{
    margin-bottom: .5em;
    height: 35px;
    border: 0;
    border-radius: 7px;
    padding: 10px;
    font-size:  15px;
    background-color: #dee2e6;
    color: #212529;
}

form button{
    height: 35px;
    border: 0;
    border-radius: 7px;
    background-color: #212529;
    color: #e9ecef;
}

.login a{
    margin: 1.5em 0;
    color: #212529;
    cursor: pointer; 
    font-size: 15px; 
    font-weight: bold;
}