 .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #212529;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar div{
    background: url(../../assets/cover.png);
    background-color: #212529;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar div{
    padding-top: 40px;
}

.sidebar div img{
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 95px;
    height: 95px;
    -webkit-filter: drop-shadow(2px 3px 6px #212529);
    filter: drop-shadow(2px 3px 6px #212529);
    object-fit: cover;
}

.sidebar a{
    display: block;
    color: #e9ecef;
    padding: 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: ease-in-out -4s;
}

.sidebar a svg{
    margin-right: .5em;
}

.sidebar a:hover{
    background-color: #121212;
    color: #fff;
}


.content{
    margin-left: 200px;
    padding: 1px 16px;
}

@media screen and (max-width: 700px) {
    .content{
        margin-left: 0;
    }
    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    .sidebar div{
        display: none;
    }

    .sidebar a svg{
        display: none;
    }
}



@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none
    }

    .sidebar a svg{
        display: none
    }
} 